/*  ----------------------------------------- */
/*  BASICS   */
/*  ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*  ----------------------------------------- */
/*  REUSABLE COMPONENTS   */
/*  ----------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

/* ----------- HEADINGS ------------ */

h1{
    margin: 0 0 20px 0;
    font-size: 200%;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 4px;
}

/* ----------- BUTTONS ------------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active {
    background-color: #bf6516;
    border: 1px solid #bf6516;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    border: 1px solid #bf6516;
}

/*  ----------------------------------------- */
/*  HEADER   */
/*  ----------------------------------------- */

header{
    background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{ 
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    font-size: 90%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #bf6516;
}